:root {
    --cor-primaria: #F464C3;
    --cor-secundaria: #3D1C31;
    --cor-tres: #FDACE0;
    --BRANCO: white;
    --preto: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#add{
    font-size: 40px;
}

.pust{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#cate{
    width: 300px;
    height: 30px;
}


header {
    background-color: var(--cor-primaria); /*parte rosa*/
    padding: 2%;
    display: flex;
   align-items: center;
   
}

#form-buscar {   /*caixa de busca*/
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 

}

#buscar {  /*tamanho, posição e grossura da caixa de busca*/
    flex-grow: 0.75;
    padding: 0.5rem;
    border-radius: 7px;
    border-radius: 7px;
    border: none;
    outline: none;
    width: 40px;
    width: 40px;

    
}

#btn-buscar {
    background-color: transparent; /*botao da lupa*/
    border: none;
    position: absolute;
    right: 15%;
   
    cursor: pointer; 
}

.icon-link {  /*configuração dos icones*/
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}



.LUDO {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

header a {
    color: white;
}



body{
    background-color: var(--cor-tres);
}
.add_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    color: white;
    gap: 20px;
   
}

.Categorias{
    border: 2px solid white;
    margin-top: 40px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}